@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url("../public/assets/img/Vector.svg") no-repeat left top;
	background-size: min(40%, 600px);
}

.topbg {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	height: 280px;
	background-image: url("../public/assets/img/group.svg");
	opacity: 0.5;
}
